body {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
  background: #f1f0ea;
  color: #05386b;
}
h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bolder;
  color: #2a522c;
}
h2 {
  text-align: right;
  font-size: 38px;
  align-items: baseline;
  color: #f13c20;
}
h2 span {
  font-size: 14px;
  font-weight: bolder;
  vertical-align: middle;
}
.city {
  font-size: 25px;
  margin-bottom: 0;
}
select {
  display: block;
  width: 100%;
  border: 1px solid #2a522c;
  border-radius: 5px;
  padding: 10px;
  color: #05386b;
  background: rgba(215, 153, 34, 0.3);
  margin-bottom: 20px;
  font-size: 16px;
}
footer {
  font-size: 12px;
  text-align: center;
  padding-bottom: 15px;
  color: #2a522c;
}
hr {
  background: #edf5e1;
}
strong {
  font-weight: bold;
}

.col-6 {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: baseline;
}

.container {
  max-width: 490px;
  background: #f1f0ea;
  border: 2px solid #2a522c;
  border-radius: 5px;
  padding: 30px;
  margin-top: 40px;
  padding-bottom: 15px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.current-date {
  font-size: 16px;
  color: #d79922;
}
.time-element {
  text-align: right;
  margin-bottom: 0;
  padding-bottom: 0;
}
.current-time {
  color: #f13c20;
}
@media (max-width: 414px) {
  .container {
    max-width: 350px;
    margin-top: 40px;
    font-size: 14px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 26px;
  }
  .city {
    font-size: 20px;
  }
  .current-date {
    font-size: 14px;
  }
}
